In [94]:
l=[1, 9, 8, 4, 0, 0, 2, 7, 0, 6, 0, 9]

In [2]:
l1=[]
l2=[]

In [3]:
for i in l:
    if i!=0:
        l1.append(i)
    else:
        l2.append(i)

In [98]:
count=0
for i in range(len(l)):
    if l[i]==0:
        count=count+1
        print(count)
        l.pop(i)

In [91]:
count

0

In [25]:
l=[1, 9, 8, 4, 2, 7, 6, 9]

In [28]:
l.sort()

In [34]:
l

[1, 2, 4, 6, 7, 8, 9, 9]

In [33]:
(l[3]+l[4])/2

6.5

In [36]:
def median_list(l):
    l.sort()
    if len(l)%2==0: 
        median=(l(len(l)/2)+l((len(l)/2)-1))/2
    else:
        median=l(len(l)/2

SyntaxError: unexpected EOF while parsing (<ipython-input-36-071718df9cf2>, line 7)

In [18]:
for i in range(count):
    l=l.append('0')

In [19]:
l

[1, 9, 8, 4, 2, 7, 6, 9]

In [12]:
l

[1, 9, 8, 4, 2, 7, 6, 9]

In [10]:
l1+l2

[1, 9, 8, 4, 2, 7, 6, 9, 0, 0, 0, 0]

In [38]:
import pandas as pd
import numpy as np

In [75]:
df=pd.read_csv(r'C:\Users\10323609\Downloads\char1.csv')

In [43]:
df['flag']=0

In [44]:
df

    char     minx     maxx     miny     maxy  text_id  page  flag
0          57.375   64.881  716.691  743.691        1     0     0
1      A   64.881   82.890  716.691  743.691        1     0     0
2          82.890   90.396  716.691  743.691        1     0     0
3      S   90.396  108.405  716.691  743.691        1     0     0
4      i  108.405  114.399  716.691  743.691        1     0     0
..   ...      ...      ...      ...      ...      ...   ...   ...
931    e  314.360  319.920  638.730  648.730       16     1     0
932    l  319.920  322.140  638.730  648.730       16     1     0
933    l  322.140  324.360  638.730  648.730       16     1     0
934    .  324.360  327.140  638.730  648.730       16     1     0
935       327.140  329.920  638.730  648.730       16     1     0

[936 rows x 8 columns]

In [56]:
df['char'][0]

' '

In [59]:
df['flag']=np.where(df['char']==' ', 0, 1)

In [85]:
count=1
for i in range(len(df.index)):
    if df.loc[i,'char']==' ':
        df.loc[i,'flag']=0
        count=count+1
    else:
        df.loc[i,'flag']=count

In [89]:
df.groupby('flag').agg({'char':lambda x: ''.join(x),'minx' : min,'maxx': max,'miny' : min,'maxy': max })

,char,minx,maxx,miny,maxy
flag,,,,,
0,...,57.375,390.510,555.066,743.691
2,A,64.881,82.890,716.691,743.691
3,Simple,90.396,172.908,716.691,743.691
4,PDF,180.414,234.414,716.691,743.691
5,File,241.920,285.417,716.691,743.691
...,...,...,...,...,...
191,"end,",233.760,253.220,638.730,648.730
192,and,256.000,272.680,638.730,648.730
193,just,275.460,291.020,638.730,648.730
194,as,293.800,304.360,638.730,648.730
195,well.,307.140,327.140,638.730,648.730

In [83]:
df['char'][1]

'A'

In [82]:
df

    char     minx     maxx     miny     maxy  text_id  page  flag
0          57.375   64.881  716.691  743.691        1     0     0
1      A   64.881   82.890  716.691  743.691        1     0     0
2          82.890   90.396  716.691  743.691        1     0     0
3      S   90.396  108.405  716.691  743.691        1     0     0
4      i  108.405  114.399  716.691  743.691        1     0     0
..   ...      ...      ...      ...      ...      ...   ...   ...
931    e  314.360  319.920  638.730  648.730       16     1     0
932    l  319.920  322.140  638.730  648.730       16     1     0
933    l  322.140  324.360  638.730  648.730       16     1     0
934    .  324.360  327.140  638.730  648.730       16     1     0
935       327.140  329.920  638.730  648.730       16     1     0

[936 rows x 8 columns]

In [63]:
df.shape()

TypeError: 'tuple' object is not callable

In [ ]:
for i in range()