In [12]:
import numpy as np

In [1]:
import pandas as pd

In [2]:

df = pd.DataFrame({
    'Name': ['Luke','Gina','Sam','Emma'],
    'Status': ['Father', 'Mother', 'Son', 'Daughter'],
    'Birthyear': [1976, 1984, 2013, 2016],
})

In [3]:
df

   Name    Status  Birthyear
0  Luke    Father       1976
1  Gina    Mother       1984
2   Sam       Son       2013
3  Emma  Daughter       2016

In [7]:
df['Gender'] = df['Status'].apply(lambda x: 'Male' if x=='Father' or x=='Son' else 'Female')

In [8]:
df

   Name    Status  Birthyear  Gender
0  Luke    Father       1976    Male
1  Gina    Mother       1984  Female
2   Sam       Son       2013    Male
3  Emma  Daughter       2016  Female

In [24]:
df['Status'].apply(lambda x: 'Male' if x=='Father' or x=='Son' else 'Female')

0      Male
1    Female
2      Male
3    Female
Name: Status, dtype: object

In [27]:
np.where((df['Status']=='Father') | (df['Status']=='Son'),'male', 'Female')

array(['male', 'Female', 'male', 'Female'], dtype='<U6')